<a href="https://colab.research.google.com/github/Shushilasingh/python-series-for-beginers/blob/main/conditionals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#control statements

In [ ]:
x = 10
if x%2==0:
  print(x,"is even number")
else:
  print(x,"is odd number")

10 is even number

In [ ]:
#to know a given number is +,- or zero
x = int(input("enter a digit:"))
if x==0: print("zero")
elif x==1: print("one")
elif x==2: print("two")
elif x==3: print("three")
elif x==4: print("four")
else: print('please enter digit between 0 and 4')

enter a digit:3
three

In [ ]:
x=1
while x<=10:
  print(x)
  x+=1
  print("end")

1
end
2
end
3
end
4
end
5
end
6
end
7
end
8
end
9
end
10
end

In [ ]:
while x<=10:
  print(x)
  x+=1
  print("end")

In [ ]:
#to display even numbers between 100 and 200
x=100
while x>=100 and x<=200:
  print(x)
  x+=5

100
105
110
115
120
125
130
135
140
145
150
155
160
165
170
175
180
185
190
195
200

In [ ]:
# to display each charecter from a string
str='hello'
for ch in str:
  print(ch)

h
e
l
l
o

In [ ]:
str='hello'
n=len(str)
#find no. of chars in str
for i in range(n):
  print(str[i])

h
e
l
l
o

In [ ]:
#to find sum of list of numbers using for
#take a list of numbers
list = [10,20,30,40,50]
sum=0
for i in list:
  print(i)
  sum+=i
print('sum=',sum)

10
20
30
40
50
sum= 150

In [ ]:
for i in range (3):
  for j i range(4)
  print('i','')